{% extends "layout.html" %}
{% block body %}

<h1> Lista de Grupos </h1>


{% for group in groups %}
<p>
  <ul>
  	 <li>Titulo: {{ group.titulo }} (<a href="{{url_for('group.edit', emp_id = group.id)}}"> edit </a>, <a href="{{url_for('group.delete', emp_id = group.id)}}"> del </a>)</li>
     <li> n. de inscritos: <a href="{{url_for('user.list', group_id = group.id)}}"> {{ len_group(group.id)}}</a> </li>
  </ul>
</p>
{% endfor %}
  
<p>
 <a href="{{url_for('group.new')}}"> NOVO GRUPO </a>
</p>  

<p>
 <a href="{{url_for('inscrever.index')}}"> NOVO USUÁRIO </a>
</p>  

{% endblock %}